

.container {
   
    padding: 20px;
    border-radius: 8px;
    box-shadow: #5945a0 0px 2px 4px;
    width: 300px;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}


button {
    padding: 20px 12px;
    background-color: #4cafa3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a045;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
   
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li button {
    background-color: #a04545;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
li button:hover {
    background-color: #f43636;
}