*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    background-image: url("fondo.webp");
    background-size: cover;
    background-position: center;
    font-family: 'calibri ';
    
}
header 
{
    background-color: #ffffff;  
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
.menu 
{
 width: 100%;
 margin: 0;
}
img 
{
    width: 250px;
    height: 250px;
    float: left;
    padding: 10px;
}
nav 
{
    float: right;
   
}
nav ul li 
{
    list-style: none;
    margin-top: 75px;     
    padding: 60px ;
    float: left;
    position: relative;
}
nav ul li a 
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
nav ul li a::before {
    display:flow-root;
    content: '' ;
    width: 0%;
    background:rgb(139, 0, 0);
    height: 5px;
    top: 20px ;
    position:absolute ;
    transition: width 0.2s;
    left: 0;
 
}
nav ul li a:hover::before 
{
    width: 100%;
}
h1 {
    text-align: center;
    color: white;
}
section {
    margin: 40px;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: white;
    background-color: rgb(60, 59, 59);
    padding: 10px;
}
ol {
    list-style-type: decimal; /* activa numeración */
    margin-left: 20px;
    margin-top: 10px;
}
ul {
    margin-left: 20px;
    margin-top: 10px;
}
/* Caja para todas las secciones */
.section-box {
    background-color: #23584e;   /* fondo gris claro */
    padding: 25px;
    border-radius: 12px;
    margin: 20px 0;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    font-size: 18px; /* letra más grande en todo el bloque */
}

/* Títulos de secciones */
#ventajas-videojuegos,
#desventajas-videojuegos,
#conclusion-videojuegos {
    font-size: 30px;   /* letra más grande para títulos */
    color: #222;
    margin-bottom: 15px;
    text-align: left;
}

/* Lista principal numerada */
.section-box ol {
    list-style-type: decimal;
    margin-left: 25px;
    margin-top: 10px;
}

/* Subpuntos con viñetas */
.section-box ul {
    list-style-type: disc;
    margin-left: 40px;
    color: #000000;
    font-size: 16px;
}

/* Texto dentro de párrafos */
.section-box p {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
}
