*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    background-image: url("R.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'calibri ';
    
}
header 
{
    background-color: #ffffff;  
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
.menu 
{
 width: 100%;
 margin: 0;
}
img 
{
    width: 250px;
    height: 250px;
    float: left;
    padding: 10px;
}
nav 
{
    float: right;
   
}
nav ul li 
{
    list-style: none;
    margin-top: 75px;     
    padding: 60px ;
    float: left;
    position: relative;
}
nav ul li a 
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
nav ul li a::before {
    display:flow-root;
    content: '' ;
    width: 0%;
    background:rgb(139, 0, 0);
    height: 5px;
    top: 20px ;
    position:absolute ;
    transition: width 0.2s;
    left: 0;
 
}
nav ul li a:hover::before 
{
    width: 100%;
}
h1 {
    text-align: center;
    color: white;
}
section {
    margin: 40px;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: white;
    background-color: rgb(7, 3, 238);
    padding: 10px;
}
ol {
    list-style-type: decimal; /* activa numeración */
    margin-left: 20px;
    margin-top: 10px;
}
ul {
    margin-left: 20px;
    margin-top: 10px;
}
